/* INTRODUCTION */

.container_homepage {
    width: 100%;
    height: 80%;
    margin-left: 10rem;
    margin-right: 10rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.homepage_text {
    width: auto;
    max-width: 45%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: center;

    font-size: 1.6rem;
}

.homepage_img {
    max-width: 45%;
    width: 30rem;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homepage_img > img {
    width: 100%;
    height: auto;
}

.homepage_text > h1 {
    margin: .5em 0;

    font-size: 4rem;
    text-align: left;
    text-transform: capitalize;
}

.homepage_text > h2 {
    font-size: 1.2rem;

    width: fit-content;

    padding: 0.5rem;

    border-style: solid;
    border-width: 1px;
    border-color: black; 
    border-radius: 0.5em;
}

.homepage_text p {
    text-transform: uppercase;
    font-size: 2rem;
}