/* PALETTE */

:root {
    /* Colors */
    --vert : #B5FF3F;
    --noir: #3E3D4D;
}

*{
    margin : 0;
    padding: 0;
    box-sizing : border-box;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:  #3e54c8;
}

html::-webkit-scrollbar {
  display: none;
}

a, a:hover, a::after {
    color: inherit;
}






